<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title pull-left"><i class="fa fa-user" aria-hidden="true"></i>{{editedcustomer.lastname}} {{editedcustomer.firstname}}</h3>
        <div class="clearfix"></div>
    </div>

    <div highlight="whitesmoke" class="panel-body">
        <div class="">
            <img src="{{apiHost}}images/{{editedcustomer.avatar}}" class="img-avatar" alt="">
            <div class="caption">
                <p>
                    <span>Adresse : {{editedcustomer.adress.suite}}</span>
                </p>
                 <p>
                    <span>Tel: {{editedcustomer.phone}}</span>
                </p>
                <p>
                    <span>Email: {{editedcustomer.email}}</span>
                </p>
                <p>
                    <button class="btn btn-primary">
                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i> Voir commandes 
                    </button>
                    
                </p>
                
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div>
            
               
            <button class="btn btn-default btn-xs" (click)="onEdit()"
            data-toggle="modal" data-target="#edit" >
                <i class="fa fa-pencil" aria-hidden="true"></i>
                Editer
            </button>
            <button class="btn btn-danger btn-xs" >
                <i class="fa fa-times" aria-hidden="true"></i>Supprimer</button>
        </div>
    </div>
</div>
