    <div class="panel-heading">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="panel-title"><span class="glyphicon glyphicon-pencil"></span> Modification un client.</h4>
    </div>
	<div class="col-lg-12 well">
        <div class="row">
            <form [formGroup]="customerEditForm">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6"><!--col de gauche-->
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label>sexe</label>
                                    <select class="selectpicker" formControlName ="gender" class="form-control">
                                        <option>M</option>
                                        <option>Mme</option>
                                    </select>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label>Nom</label>
                                    <input type="text"formControlName ="lastname" placeholder=" nom" class="form-control">
                                </div>	
                                <div class="col-md-4 form-group">
                                    <label>Prenoms</label>
                                    <input type="text" formControlName ="firstname" placeholder="prenoms" class="form-control">
                                </div>	
                            </div>

                            <div class="row">

                                <div class="col-md-4 form-group">
                                    <label class="control-label"><i class="fa fa-calendar-o" aria-hidden="true">
                                        </i>Date Naissance</label>
                                    <input type="date" formControlName ="birthdate" name="timeStartDate">
                
                                </div>
                               
                                <div class="col-md-4 form-group">
                                   <label>Email</label>
                                   <input type="text" formControlName ="email" placeholder="date de na" class="form-control">
                                </div>
                                <div class="col-md-4 form-group">
                                   <label>Tel</label>
                                   <input type="text" formControlName ="phone" placeholder="date de na" class="form-control">
                                </div>
                            </div>
                            <div class="row" formGroupName ="adress">
                            <div class="row">
                              <div class="col-md-12 form-group">
                                 <label>Address</label>
                                 <textarea formControlName ="suite"  rows="3" class="form-control"></textarea>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4 form-group">
                                <label>ville</label>
                                <input type="text" formControlName ="city"  class="form-control">
                              </div>	
                              <div class="col-md-4 form-group">
                                <label>Code Postal</label>
                                <input type="text" formControlName ="zip"  class="form-control">
                              </div>	
                              <div class="col-md-4 form-group">
                                <label>pays</label>
                                <input type="text" formControlName ="state"  class="form-control">
                              </div>		
                           </div>
                            </div>
                        </div><!--fin col gauche-->
                        <div class="col-md-6"> <!--col de droite-->
                            <div class="row">
                              <div class="col-md-6 form-group">
                                <label>Entreprise</label>
                                <input type="text" formControlName ="company"  class="form-control">
                              </div>			
                            </div>
                             <div class="row">	
                                <div class="col-md-6 form-group">
                                  <label>Profession</label>
                                  <input type="text" formControlName ="profession"  class="form-control">
                                </div>		
                            </div>
                            <div class="row">	
                                <div class="col-md-6 form-group profil">
                                    <div class="container">
                                        <img [src]="imageSrc"
                                         class="img-avatar rounded input-file" alt="">
                                         <input type="file" name="file" accept="image/*"
                                          (change)="onChange($event)"/>
                                    </div>
                                    
                                </div>		
                            </div>
                        </div><!--fin col de droite-->
                    </div>
                    <div class="panel-footer" style="margin-bottom:-14px;">
                       <input type="button" data-dismiss="modal" (click)="onCustomerUpdateSubmit()" class="btn btn-success" value="Valider"/>
                       
                        <!--<span class="glyphicon glyphicon-remove"></span>-->
                       <button style="float: right;" type="button" data-dismiss="modal" class="btn btn-default btn-close">Annuler</button>
                    </div>
                </div>
            </form>
        </div>
	</div>













