<div [@flyInOut]="'in'">

<a class="btn btn-primary" type="button" [routerLink]="['/customers/create']">
   <i class="fa fa-edit" aria-hidden="true"></i> Ajouter un Client
</a>

<hr/>


<div class="container row">
    <div class="col-xs-3" *ngFor="let customer of customers">
        <customer-card [customer]="customer" (editCustomer)="editCustomer($event);"></customer-card>
    </div>
</div>
<div class="row text-center">
     <div class="col-md-12 col-sm-12">
        <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" class="pagination-sm"
        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
    </div>   
</div>


</div>

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div>

            <customer-edit-form ></customer-edit-form>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
