
<hr/>

<div [@flyInOut]="'in'">

    <form (ngSubmit)="onOrderCreateSubmit()" [formGroup]="formGroupAddOrder">

        <div class="modal-header">
            <button type="button" (click)="back()" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            <h4 class="modal-title custom_align" id="Headin">New Position</h4>
        </div>
        <div class="modal-body">

            <div class="form-group">
                <input formControlName ="Symbol" class="form-control " type="text" placeholder="Symbol">

                <span [hidden]="formGroupAddOrder.controls.Symbol.valid">required</span>
            </div>
            <div class="form-group">
                <input formControlName ="OrderQty" class="form-control " type="text" placeholder="order Qte">
                <span [hidden]="formGroupAddOrder.controls.OrderQty.valid">required</span>
            </div>
            <div class="form-group">
                <input formControlName ="Side" class="form-control " type="text" placeholder="Side">
                <span [hidden]="formGroupAddOrder.controls.Side.valid">required</span>
            </div>

            <div class="form-group">
                <input formControlName ="type" class="form-control " type="text" placeholder="type">

            </div>
            <div class="form-group">
                <input formControlName ="Limit" class="form-control " type="text" placeholder="Limit">

            </div>
            <div class="form-group">
                <input formControlName ="Stop" class="form-control " type="text" placeholder="Stop">

            </div>


        </div>
        <div class="modal-footer ">
            <button type="button" (click)="onOrderCreateSubmit()" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span>Create</button>
        </div>



    </form>



</div>

