<div class="panel panel-primary" [ngClass]="{shadowCard: onEdit}" [@flyInOut]="'in'">
    <div class="panel-heading">
        <h3 class="panel-title pull-left" [class.hidden]="onEdit"><i class="fa fa-product" aria-hidden="true"></i>{{edittedProduct.name}}</h3>

        <div class="input-group" [class.hidden]="!onEdit">
            <span class="input-group-addon" >libellé</span>
             <input [(ngModel)]="edittedProduct.name"  [style.color]="'brown'" required class="form-control"/>
        </div>

        <div class="clearfix"></div>
    </div>

    <div highlight="whitesmoke" class="panel-body">
        <div class="">
            <img src="{{apiHost}}images/{{edittedProduct.avatar}}" class="img-avatar" alt="">
            <div class="caption">
                <p>
                    <span [class.hidden]="onEdit">{{edittedProduct.price}}</span>
                </p>
                <div [hidden]="!onEdit">

                    <div class="input-group ">
                        <span class="input-group-addon">Prix</span>
                        <input [(ngModel)]="edittedProduct.price" class="form-control" required />
                    </div>
                    
                    <div class="input-group ">
                        <span class="input-group-addon">ref</span>
                        <input [(ngModel)]="edittedProduct.reference" class="form-control" required />
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">date d'exp</span>
                        <input [(ngModel)]="edittedProduct.expiredate" class="form-control" required />
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">date d'exp</span>
                        <ss-multiselect-dropdown [options]="myOptions" [(ngModel)]="edittedProduct.category" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>
                    </div>

                </div>

                <p [hidden]="onEdit">
                    <button class="btn btn-primary" (click)="viewSchedules(edittedProduct)" [disabled]="edittedProduct.stock === 0">
                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i> Stock <span class="badge"> 
                        {{edittedProduct.stock}}</span>
                    </button>
                </p>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div [class.hidden]="edittedProduct.id < 0">
            <button class="btn btn-default btn-xs" (click)="editProduct()">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                    {{onEdit === false ? "Edit" : "Cancel"}}
                </button>
            <button class="btn btn-default btn-xs" [class.hidden]="!onEdit" (click)="updateProduct()" [disabled]="!isProductValid()">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Update</button>
            <button class="btn btn-danger btn-xs" (click)="openRemoveModal()">
                <i class="fa fa-times" aria-hidden="true"></i>Remove</button>
        </div>
        <div [class.hidden]="!(edittedProduct.id < 0)">
            <button class="btn btn-default btn-xs" [class.hidden]="!onEdit" (click)="createProduct()" [disabled]="!isProductValid()">
                <i class="fa fa-plus" aria-hidden="true"></i>Create</button>
        </div>
    </div>
</div>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" *ngIf="productSchedulesLoaded">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
                <h4 class="modal-title">{{edittedProduct.name}} Mouvements</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Place</th>
                            <th>Time Start</th>
                            <th>Time End</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let movement of productMouvements">
                            <td> </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>