<button [class.hidden]="addingProduct" class="btn btn-primary" (click)="addProduct()">
    <i class="fa fa-user-plus fa-2x" aria-hidden="true"></i>Add</button>
<button [class.hidden]="!addingProduct" class="btn btn-danger" (click)="cancelAddProduct()">
    <i class="fa fa-ban fa-2x" aria-hidden="true"></i>Cancel</button>

<hr/>

<div class="row text-center">
    <div class="col-md-3 col-sm-6 hero-feature" *ngFor="let product of products">
        <product-card [product]="product" (removeProduct)="removeProduct($event);" (productCreated)="productCreated($event);"></product-card>
    </div>
</div>